name: Compile Plugins

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    name: Compile plugin for ${{ matrix.identifier }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        buildjobs:
          - sourcemod-1.12
          - sourcemod-1.13

        include:

          - buildjobs: sourcemod-1.12
            os_version: ubuntu-latest
            identifier: 'Sourcemod Stable'
            sm-version: '1.12.x'
            package-name: 'sm-stable'

          - buildjobs: sourcemod-1.13
            os_version: ubuntu-latest
            identifier: 'Sourcemod Dev'
            sm-version: '1.13.x'
            package-name: 'sm-dev'
    env:
      TPINCLUDES_PATH: ${{ github.workspace }}/thirdparty/includes
      BUILD_PATH: ${{ github.workspace }}/build/source
      PACKAGE_PATH: ${{ github.workspace }}/build/package
      BINARY_PATH: ${{ github.workspace }}/build/package/addons/sourcemod/plugins
      SCRIPTING_PATH: ${{ github.workspace }}/build/package/addons/sourcemod/scripting

    steps:
      - name: Create Folders
        run: |
          echo "Creating folders..."
          mkdir -p ${{ env.TPINCLUDES_PATH }}
          mkdir -p ${{ env.BUILD_PATH }}
          mkdir -p ${{ env.BINARY_PATH }}
          mkdir -p ${{ env.SCRIPTING_PATH }}
          mkdir -p ${{ env.SCRIPTING_PATH }}/include

      - name: Fetch Plugins
        uses: actions/checkout@v6.0.0
        with:
          path: plugins

      - name: Setup SourcePawn Compiler for ${{ matrix.identifier }} ( ${{ matrix.sm-version }} )
        id: setup_sp
        uses: rumblefrog/setup-sp@master
        with:
          version: ${{ matrix.sm-version }}

      - name: Fetch SMLib
        uses: actions/checkout@v6.0.0
        with:
          repository: bcserv/smlib
          path: smlib
          ref: transitional_syntax

      - name: Fetch NavBot
        uses: actions/checkout@v6.0.0
        with:
          repository: caxanga334/NavBot
          path: navbot

      - name: Move Fetched Includes to Shared Includes Path
        run: |
          rsync -rv ${{ github.workspace }}/navbot/scripting/include/* ${{ env.TPINCLUDES_PATH }}/
          rsync -rv ${{ github.workspace }}/smlib/scripting/include/* ${{ env.TPINCLUDES_PATH }}/
          ls -lah ${{ env.TPINCLUDES_PATH }}/

      - name: Move Plugin Source Files to Build Directory
        run: |
          rsync -rv ${{ github.workspace }}/plugins/scripting/* ${{ env.BUILD_PATH }}/

      - name: Compile Plugins
        working-directory: ${{ env.BUILD_PATH }}
        run: |
          for file in *.sp; do
            echo -e "\nCompiling $file..."
            spcomp -v2 -i ${{ env.TPINCLUDES_PATH }}/ $file
          done
          echo "===OUT FILES==="
          ls -lah *.smx
          
      - name: Package Files
        run: |
          rsync -rv ${{ env.BUILD_PATH }}/*.smx ${{ env.BINARY_PATH }}/
          rsync -rv ${{ github.workspace }}/plugins/scripting/* ${{ env.SCRIPTING_PATH }}/

      - name: Fetch Short SHA
        uses: benjlevesque/short-sha@v3.0
        id: short-sha

      - name: Upload Compiled Plugins Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: plugins-${{ matrix.package-name }}-${{ steps.short-sha.outputs.sha }}
          path: |
            build/package/*
      
